<!doctype html>
<html>
<head>
<title>Dashboard</title>
{% if app_list %}
{% load static %}
<script src="{% static "dashboard/jquery-3.2.0.min.js" %}"></script>
<script>

function all_tiles(){
  var app_page_array = [{% for app in app_list %}"{{ app.app_tile_id }}", {% endfor %}];
  var app_id_array = [{% for app in app_list %}"{{ app.app_id }}", {% endfor %}];
  for(j=0; j<app_id_array.length; j++){
    $("#app_"+app_id_array[j]).attr("class","appbox");
  }
  $(window).off("click");
}

function fsoc(event){
  event.stopPropagation();
  var app_page_array = [{% for app in app_list %}"{{ app.app_page_id }}", {% endfor %}];
  var app_id_array = [{% for app in app_list %}"{{ app.app_id }}", {% endfor %}];
  var i = parseInt(this.id.substring(4));
  for(j=0; j<app_id_array.length; j++){
    if(i==app_id_array[j]) {
      $("#app_"+app_id_array[j]).attr("class","fullscreen");
      $("#app_"+app_id_array[j]).attr("src", app_page_array[j]);
      $(window).click(all_tiles);
      $("#app_"+app_id_array[j]).click(function(event){
        event.stopPropagation();
      });
    }
    else $("#app_"+app_id_array[j]).attr("class","hidden");
  }
}

$(document).ready(function(){
  var app_array = [{% for app in app_list %}"{{ app.app_tile_id }}", {% endfor %}];
  var app_page_array = [{% for app in app_list %}"{{ app.app_page_id }}", {% endfor %}];
  var app_id_array = [{% for app in app_list %}"{{ app.app_id }}", {% endfor %}];
  var i=0;
  for(i=0; i<app_id_array.length; i++){
      $("#app_"+app_id_array[i]).click(fsoc);
  }
  for(i=0; i<app_id_array.length; i++){
    $.ajax(
      {url:app_array[i], dataType: "jsonp", jsonp: "callback", data: {dashboard_request: "true", dashboard_url: "http://192.168.1.1:8080", sendback:i}, success:function(response){
      var i = parseInt(response["sendback"]);
      if(response["is_interactive_tile"]=="true"){
        if(response["load_current_page"]=="true"){
          $("iframe #app_"+app_id_array[i]).attr("src",app_array[i]+"?"+response["get_parameter"]+"=true");
        }
        else{
          $("iframe #app_"+app_id_array[i]).attr("src",response["page_to_load"]+"?"+response["get_parameter"]+"=true");
        }
        if(response["fullscreen_on_click"]=="false")
          $("iframe #app_"+app_id_array[i]).off("click");
        }
      else{
        $("iframe #app_"+app_id_array[i]).attr("class","hidden");
        $("iframe #app_"+app_id_array[i]).attr("src","");
        $("img #app_"+app_id_array[i]).attr("class","appbox");
      }
    }
  
  });
  }
  
});

</script>
<style>
html, body {
  height: 100%
}

.appbox {
  display: block;
  visibility: visible;  
  border: 4px solid black;
  width: 40%;
  height: 40%;
  margin: 10px;
}
.invisiblelist {
  list-style-type: none;
}

.hidden{
  display: none;
  visibility: hidden;  
}

.fullscreen {
  border: 2px solid black;
  position: fixed;
  overflow: auto;
  width: 95%;
  height: 90%;
}
</style>
{% endif %}
</head>
<body>
{% if username != '' %}
  <p>Welcome, <a href="/?logout=true">{{username}}</a></p>
{% endif %}


{% if app_list %}
  <ul class="invisiblelist">
    <!--    src="{{app.app_page_id}}"     -->
    {% for app in app_list %}
      <li>
        <div id="app_{{app.app_id}}">
        <iframe class="appbox" id="app_{{app.app_id}}" src="{{app.app_page_id}}" ></iframe>
        <img class="hidden" id="app_{{app.app_id}}"></img>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p> No Apps Installed </p>
{% endif %}
</body>