<!doctype html>
<html>
<head>
  <title>InstallApp</title>
  {% load static %}
  <script src="{% static "dashboard/jquery-3.2.0.min.js" %}"></script>
  <script>
  $(document).ready(function(){
   $("#add").click(function(){
      var pageurl = $("#page_url").val();
      var tileurl = $("#tile_url").val();
      //alert(pageurl);
      //alert(tileurl);
      if(tileurl == ""){
        $("#errormsg").text("Tile Url is Empty!");
      }
      else if(pageurl == ""){
        $("#errormsg").text("Page Url is Empty!");
      }
      else{
        $("#errormsg").text("");
        $.ajax({url:"http://192.168.1.1:8000/install/", dataType: "jsonp", jsonp: "callback", data: {page_url:pageurl, tile_url: tileurl}, success:function(response){
          $("#errormsg").text("Installed Successfully");
      }
    
    });
  }
});

    $("#delete").click(function(){
      
         var pageurl = $("#page_url").val();
         var tileurl = $("#tile_url").val();
         //alert(pageurl);
         //alert(tileurl);
         if(tileurl != ""){
           $("#errormsg").text("");
           $.ajax({url:"http://192.168.1.1:8000/install/", dataType: "jsonp", jsonp: "callback", data: {tile_url: tileurl, remove: "true"}, success:function(response){
             $("#errormsg").text("Removed Successfully");
           }});
         }
         else if(pageurl != ""){
           $("#errormsg").text("");
           $.ajax({url:"http://192.168.1.1:8000/install/", dataType: "jsonp", jsonp: "callback", data: {page_url:pageurl, remove: "true"}, success:function(response){
             $("#errormsg").text("Removed Successfully");
         }});
         }
         else{
         $("#errormsg").text("Both Urls are Empty!");
     }
    });
    
    });
  </script>
</head>
<body>
  <p id="errormsg"></p>

    Page Link: <input type="text" id = "page_url"/> <br>
    Tile Link: <input type="text" id = "tile_url"/> <br>
    <button id="add">Add</button>   <button id="delete">Delete</button>

</body>
</html>